<% if @cards %>

<table class="table table-bordered">

  <tr>
    <td> <%= t(:orig_text)  %> </td>
    <td> <%= t(:trans_text) %> </td>
    <td> <%= t(:review_date)       %> </td>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td> <%= card.original_text   %> </td>
      <td> <%= card.translated_text %> </td>
      <td> <%= card.review_date     %> </td>
      <td> <%= link_to t(:show),   card_path(card)                  %> </td>
      <td> <%= link_to t(:edit),   edit_card_path(card)             %> </td>
      <td> <%= link_to t(:delete), card_path(card), method: :delete %> </td>
    </tr>
  <% end %>

</table>
<% else %>

<p> <label> <%= t(:no_decks) %> </label> </p>
<a href= <%= new_deck_path %> class="btn btn-default" role="button"> <%= t(:deck_create) %> </a>

<% end %>
