 <%= render partial: "partials/panel" %>
 <div class="col-xs-9">
 <p>
 <label> Change E-mail </label>
 <%= simple_form_for @user, method: :patch do |f| %>
    <%= f.input :email %>
    <%= f.button :submit, "Change" %>
  <% end %>
</p>
<p>
<label> Change password </label>
  <%= simple_form_for @user, method: :patch do |f| %>
    <%= f.input :password, input_html: { value: "*****" } %>
    <%= f.input :password_confirmation, input_html: { value: "*****" } %>
    <%= f.button :submit, "Change" %>
  <% end %>
</p>
</div>
