<% if @cards %>

<table class="table table-bordered">

  <tr>
    <td> Original text </td>
    <td> Translated text </td>
    <td> Date </td>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td> <%= card.original_text %> </td>
      <td> <%= card.translated_text %> </td>
      <td> <%= card.review_date %> </td>
      <td><%= link_to 'Show', card_path(card) %></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Delete', card_path(card), method: :delete %></td>
    </tr>
  <% end %>

</table>
<% else %>

<p> <label> У вас нет ни одной колоды! </label> </p>
<a href= <%= new_deck_path %> class="btn btn-default" role="button"> Создать колоду </a>

<% end %>
